@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141A32;
    font-family: "Montserrat", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:  #1E2747;
}

header a {
    color: white;
    text-decoration: none;
}

.textbox{
    border-radius: 5px;
}

header .button{
    border-radius: 5px;
    cursor: pointer;
}

.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    width: 267px;
    max-height: 500px;
    max-width: 300px;
    background-color: #1E2747;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    margin: 5px 6.5px 20px 6.5px;
    cursor: pointer;
}

.card img {
    height: 400px;
    width: 267px;
    border-radius: 5px;
}

.card-info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    text-align: left;
}

.overlay{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 1);
    justify-content: space-evenly;
    justify-content: space-between;
    color: white;
    flex-direction: column;
    transition: backdrop-filter 0.5s ease-in;
    transition: background-color 0.6s cubic-bezier(0.49, -0.02, 0.88, 0.79);
}

.close-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 4rem;
    cursor: pointer;
}

.overlay img{
    height: 400px;
    width: 300px;
    height: 477px;
    width: 318px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.movie-poster{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.not-longer-then-16 {
    font-size: 5rem;
}

.movie-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.movie-info p {
    margin-top:10px;
}

.title-rating .movie-title{
    text-align: center;
}
.subtitle{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95px;
}

.cast{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    justify-content: start;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    transition: all 0.5s ease;
} 

.cast::-webkit-scrollbar{
    width:0; /* Chrome */
}

.cast > .item {
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item > img {
    height: 327px;
    width: 218px;
    width: 186px;
    height: 279px;
}

.cast-info{
    position: absolute;
    padding: 20px;
    bottom: 0;
    /* top: 0; */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgba(0,0,0, .5);
}

.left-btn{
    position: absolute;
    padding: 20px;
    left: 0;
    height: 40%;
    background-color: rgba(0,0,0, .3);
    color:white;
    border: none;
    border-radius: 15px;
    z-index: 1;
}

.right-btn{
    position: absolute;
    padding: 20px;
    right: 0;
    height: 40%;
    background-color: rgba(0,0,0, .3);
    color:white;
    border: none;
    border-radius: 15px;
    z-index: 1;
}

.show{
    display: flex;
}

.background-blur{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0, .8);
}