@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #141A32;
    font-family: "Montserrat", sans-serif;
}

header{
    display: flex;
}

.output{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
    width: 350px;
    max-height: 500px;
    max-width: 300px;
    background-color: #1E2747;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    margin: 5px 0px 20px 0px;
    cursor: pointer;
}

.card img {
    height: 400px;
    width: 300px;
    border-radius: 5px;
}

.card-info{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    text-align: left;
}

.overlay{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .9);
    /* background-color: black; */
    justify-content: space-evenly;
    justify-content: space-between;
    color: white;
    flex-direction: column;
}

.close-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 4rem;
    cursor: pointer;
}

.overlay img{
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
}

.movie-poster{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 100%;
    height: 50%;
}

.movie-poster h5 {
    font-size: 5rem;
}

.movie-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.title-rating h5{
    text-align: center;
}
.subtitle{
    display: flex;
    justify-content: space-evenly;
}

.rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95px;
}

.cast{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* 
    transform: rotate(-90deg);
    transform:rotate(-90deg) translateY(500px);
    transform-origin: right top; */

} 

.cast::-webkit-scrollbar{
    width:0;
}

.cast > div {
    /* width: 100px; */
    /* height: 100px; */
    padding: 15px;
    /* transform: rotate(90deg); */
    /* transform-origin: right top; */
}


.show{
    display: flex;
}